<a href="https://colab.research.google.com/github/jongtakkim/inu2024_02/blob/main/14%EC%A3%BC%EC%B0%A8_%EC%88%98%EC%97%85%EC%9E%90%EB%A3%8C(%EC%9B%90%EB%B3%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1. 과목의 점수를 리스트에 저장하고, 점수가 70점 이상인 과목 수를 출력
###score = [72,65,88,92,76,53,45,82]

In [ ]:
score = [72,65,88,92,76,53,45,82]
cnt = 0  # 70점 이상인 과목수를 저장 변수
for i in range(8) :
  if score[i] >= 70 :
    cnt = cnt + 1

print(f"70점 이상인 과목 수 : {cnt}")

70점 이상인 과목 수 : 5

###2. 시작값과 끝값을 입력 받아서 시작값부터 끝값까지의 전체합,홀수합,짝수합을 구하여라

In [ ]:
total = 0 #전체합 구하는 변수
odd = 0 # 홀수의 합을 수하는 별수
even = 0 # 짝수의 합을 구하는 변수
start = int(input("시작값 : "))
end = int(input("끝값 : "))

for i in range(start,end+1) :
  total = total + i
  if i % 2 == 1 :
    odd = odd + i
  else :
    even = even + i

print(f"{start}부터 {end}까지 전체합:{total}, 홀수합:{odd}, 짝수합:{even}")

시작값 : 5
끝값 : 12
5부터 12까지 전체합:68, 홀수합:32, 짝수합:36

###3. 철수:90점  화사:85점 재민:77점 유리:65점 순신 : 72점
###5명의 점수를 확인해서 학점을 출력하여라
###출력 : 철수는 90점이고 학점은 A 입니다. (5명이 출력)
###90점이상 A 80점이상 B 70점이상 C 60점이상 D 60점 미만 F

In [ ]:
score = {'철수':90,'화사':85,'재민':77,'유리':65,'순신':72}

for i in score.keys() :
  if score[i] >= 90 :
    result = 'A'
  elif score[i] >= 80 :
    result = 'B'
  elif score[i] >= 70 :
    result = 'C'
  elif score[i] >= 60 :
    result = 'D'
  else :
    result = 'F'
  print(f"{i}는 {score[i]}점이고 학점은 {result}입니다.")

철수는 90점이고 학점은 A입니다.
화사는 85점이고 학점은 B입니다.
재민는 77점이고 학점은 C입니다.
유리는 65점이고 학점은 D입니다.
순신는 72점이고 학점은 C입니다.

###4. 아래 리스트의 값을 사용하여 순위를 구하시오
###   score=[70,80,60,100,50]

In [ ]:
score=[70,80,60,100,50]
rank=[0]*5
n=len(score)
for i in range(n) :
  rank[i] = 1
  for j in range(n) :
    if score[i] < score[j] :
      rank[i] += 1

for i in range(n) :
  print(f"점수 : {score[i]}점  등수 : {rank[i]}등")

점수 : 70점  등수 : 3등
점수 : 80점  등수 : 2등
점수 : 60점  등수 : 4등
점수 : 100점  등수 : 1등
점수 : 50점  등수 : 5등

###5. 학생수와 학생별 점수를 입력받아 리스트에 저장하고 각 점수별 순위를 출력하시오

In [ ]:
score=[]

cnt=int(input('학생 수 : '))

for i in range(cnt) :
  s = int(input(f'{i+1}번째 학생점수 : '))
  score.append(s)

rank=[0]*cnt
n=len(score)
for i in range(n) :
  rank[i] = 1
  for j in range(n) :
    if score[i] < score[j] :
      rank[i] += 1
print('---------  학생별 등수 ---------------')
for i in range(n) :
  print(f"{i+1}번째 학생의 점수 : {score[i]} 순위 : {rank[i]}등")

학생 수 : 5
1번째 학생점수 : 85
2번째 학생점수 : 75
3번째 학생점수 : 95
4번째 학생점수 : 82
5번째 학생점수 : 68
---------  학생별 등수 ---------------
1번째 학생의 점수 : 85 순위 : 2등
2번째 학생의 점수 : 75 순위 : 4등
3번째 학생의 점수 : 95 순위 : 1등
4번째 학생의 점수 : 82 순위 : 3등
5번째 학생의 점수 : 68 순위 : 5등

###6. 아래 메뉴를 입력문을 사용하여 dictionary에 저장하고 출력결과와 같이 출력하고 검색기능을 추가하세요

![딕션어리.PNG]()

In [2]:
menu={}

menu['라면'] = 3000
menu['떡볶기'] = 4000
menu['김밥'] = 2000
menu['햄버거'] = 5000
#for i in range(4) :
#    name = input(f'{i+1}번째 메뉴 : ')
#    price = int(input(f'{name} 메뉴의 가격 : '))
#    menu[name] = price
print('-----------  메뉴판 -------------')
for i in menu.keys() :
  print(f"{i}-{menu[i]}원")
print('-' * 30)
while True :
  s=input("찾고자 하는 매뉴 (종료:q) ")
  if s=='q' :
    print("프로그램 종료")
    break
  if s in menu.keys() :
    print(f"{s}는 {menu[s]}원입니다.")
  else :
    print(f"{s}는 메뉴에 없습니다.")

-----------  메뉴판 -------------
라면-3000원
떡볶기-4000원
김밥-2000원
햄버거-5000원
------------------------------
찾고자 하는 매뉴 (종료:q)라면
라면는 3000원입니다.
찾고자 하는 매뉴 (종료:q)김밥
김밥는 2000원입니다.
찾고자 하는 매뉴 (종료:q)우동
우동는 메뉴에 없습니다.
찾고자 하는 매뉴 (종료:q)q
프로그램 종료